.menuBarDivParent {
    display: flex;
    align-items: right;
    gap: 20px;
}

img {
    width: 50px;
}

.menuBarLinks {
    align-self: center;
    display: flex;
    gap: 20px;
    color: black;
}

.menuBarLinks :hover {
    color: red;
}