.topBarDivFirstHalf {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.topBarDivSecondHalf {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.TopBarContainer {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.TopBarContainer {
    padding: 10px;
    background-color: rgb(215, 235, 253);
}